<a href="https://colab.research.google.com/github/Jack-Vercelli-Cohen/Python_Lesson_2/blob/main/Python_Lesson_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x=11
if x%2==0:
  print("This is an even number")
else:
    print("This is not an even number")

This is not an even number

In [5]:
a,b = 15,12
if a==b:
  print("The two numbers are equal")
elif a>b:
  print("The first number is greater than the second number")
else:
  print("The first number is smaller than the second number")

The first number is greater than the second number

In [6]:
a=0
if a>0:
  print("The number is positive")
elif a<0:
  print("The number is negative")
else:
  print("The number is zero")

The number is zero

In [7]:
# for loop

In [9]:
for i in range (0,11):
  print ("The iteration is {}".format(i))
print("THE END")

The iteration is 0
The iteration is 1
The iteration is 2
The iteration is 3
The iteration is 4
The iteration is 5
The iteration is 6
The iteration is 7
The iteration is 8
The iteration is 9
The iteration is 10
THE END

In [ ]:
# while loop

In [10]:
a=1
while a<6:
  print(a)
  a=a+1
print("THE END")

1
2
3
4
5
THE END

In [12]:
targetv = 10
iterate = 0
while iterate < targetv:
  print("The iteration no. is {}, which is less than the target value {}".format(iterate,targetv))
  iterate = iterate + 1
print("THE END")

The iteration no. is 0, which is less than the target value 10
The iteration no. is 1, which is less than the target value 10
The iteration no. is 2, which is less than the target value 10
The iteration no. is 3, which is less than the target value 10
The iteration no. is 4, which is less than the target value 10
The iteration no. is 5, which is less than the target value 10
The iteration no. is 6, which is less than the target value 10
The iteration no. is 7, which is less than the target value 10
The iteration no. is 8, which is less than the target value 10
The iteration no. is 9, which is less than the target value 10
THE END

In [ ]:
#nested loop

In [14]:
for i in range(1,4): #outer loop
  for j in range(1,11): #inner loop
    print(i*j)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30

In [15]:
colours = ["blue", "red", "yellow"]
cars = ["BMW", "Mercedes", "Range"]
for colour in colours:
  for car in cars:
    print(colour, car)

blue BMW
blue Mercedes
blue Range
red BMW
red Mercedes
red Range
yellow BMW
yellow Mercedes
yellow Range

In [16]:
targetv=5
iterate=0
while iterate<targetv:
  print("Iteration number is {}, which is less than the target value {}".format(iterate,targetv))
  if iterate==3:
    print("CONDITION MET")
    break
  iterate=iterate+1

Iteration number is 0, which is less than the target value 5
Iteration number is 1, which is less than the target value 5
Iteration number is 2, which is less than the target value 5
Iteration number is 3, which is less than the target value 5
CONDITION MET

In [20]:
targetv=5
iterate=0
while iterate<targetv:
  iterate=iterate+1
  if iterate==2:
    continue
  print ("Iteration no. is {}, which is less than the target value {}".format(iterate,targetv))

Iteration no. is 1, which is less than the target value 5
Iteration no. is 3, which is less than the target value 5
Iteration no. is 4, which is less than the target value 5
Iteration no. is 5, which is less than the target value 5

In [22]:
names = ["Mercy", "Anis", "Chris", "Jack"]
for name in names:
  if name == "Chris":
    continue
  print(name)

Mercy
Anis
Jack

In [23]:
mylist = ["Michael", "Sean", "Adam"]
mylist[0] = "John"
print(mylist)

['John', 'Sean', 'Adam']

In [24]:
mylist[1:2]

['Sean']

In [25]:
mylist[0:2]

['John', 'Sean']

In [26]:
print(len(mylist))

3

In [27]:
print(type(mylist))

<class 'list'>

In [28]:
mylist = ["Michael", "Sean", "Adam"]
if "Sean" in mylist:
  print("Yes in my list")

Yes in my list

In [29]:
mylist = ["Michael", "Sean", "Adam"]
mylist.insert(0,"Mercy")
print(mylist)

['Mercy', 'Michael', 'Sean', 'Adam']

In [31]:
mylist.append("John")
print(mylist)

['Mercy', 'Michael', 'Sean', 'Adam', 'John']

In [32]:
mylist1 = ["Michael", "Sean", "Adam"]
mylist2 = ["Zara", "Alex"]
mylist1.extend(mylist2)
print(mylist1)

['Michael', 'Sean', 'Adam', 'Zara', 'Alex']

In [33]:
mylist2.extend(mylist1)
print(mylist2)

['Zara', 'Alex', 'Michael', 'Sean', 'Adam', 'Zara', 'Alex']

In [34]:
mylist1.remove("Zara")
print(mylist1)

['Michael', 'Sean', 'Adam', 'Alex']

In [35]:
mylist1.pop()
print(mylist1)

['Michael', 'Sean', 'Adam']

In [36]:
mylist1.pop(1)
print(mylist1)

['Michael', 'Adam']

In [39]:
#mylist2
for name in mylist2:
  if name =="Zara":
    mylist2.remove("Zara")
print(mylist2)

['Alex', 'Michael', 'Sean', 'Adam', 'Alex']

In [40]:
mylist3 = ["Sam", "Max", "Liza"]
mylist4=mylist2 + mylist3
print(mylist4)

['Alex', 'Michael', 'Sean', 'Adam', 'Alex', 'Sam', 'Max', 'Liza']

In [41]:
# exercise

In [1]:
tech1 = ["Meta", "Google", "Tesla", "Snap"]
if "IG" in tech1:
  orint(tech1)
else:
  tech1.insert(4,"TikTok")
  print(tech1)

['Meta', 'Google', 'Tesla', 'Snap', 'TikTok']

In [2]:
tech2 = ["Meta", "Google", "Tesla", "Snap"]
element = input("Please input co. name (capitalised)")
if element in tech2:
  print("Tech company already exists")
else:
  tech2.append(element)
  print("The new list is:", tech2)

Please input co. name (capitalised)TIKTOK
The new list is: ['Meta', 'Google', 'Tesla', 'Snap', 'TIKTOK']

In [4]:
print(tech2)
for element in tech2:
  print(element)

['Meta', 'Google', 'Tesla', 'Snap', 'TIKTOK']
Meta
Google
Tesla
Snap
TIKTOK

In [6]:
print(tech2)
for element in range(len(tech2)):
  print(element, tech2[element])

['Meta', 'Google', 'Tesla', 'Snap', 'TIKTOK']
0 Meta
1 Google
2 Tesla
3 Snap
4 TIKTOK

In [7]:
a = [1,2,3,4,5,6]
c = []
for x in a:
  c.append(x*2)
print(c)

[2, 4, 6, 8, 10, 12]

In [9]:
b = [x**2 for x in a]
print(b)

[1, 4, 9, 16, 25, 36]

In [10]:
mylist5 = [letter.upper() for letter in "python"]
print(mylist5)

['P', 'Y', 'T', 'H', 'O', 'N']

In [20]:
mydict = {"employee":"Zara","salary":5000}
mydict["department"] = "sales"
print(mydict) #1
print(len(mydict)) #2
if "department" in mydict:
  print("THE KEY EXISTS") #3
mydict.update({"salary":"6000","level":3})
print(mydict) #4
mydict.pop("employee")
print(mydict) #5
del mydict["level"]
print(mydict) #6
mydict.clear()
print(mydict) #7

{'employee': 'Zara', 'salary': 5000, 'department': 'sales'}
3
THE KEY EXISTS
{'employee': 'Zara', 'salary': '6000', 'department': 'sales', 'level': 3}
{'salary': '6000', 'department': 'sales', 'level': 3}
{'salary': '6000', 'department': 'sales'}
{}

In [24]:
mytuples = ["Audi", "Ford", "Tesla"]
print(mytuples[2]) #1
mylist6=list(mytuples)
mylist6[2]="BMW"
mytuples=tuple(mylist6)
print(mylist6) #2

Tesla
['Audi', 'Ford', 'BMW']

In [25]:
myset={"Apple", "Banana"}
print(len(myset))

2